Oragne_HRM_Advance/log4j2.dtd

<!ELEMENT Appenders (File,Loggers)>
<!ELEMENT File (PaternLayout)>
<!ATTLIST File name NMTOKEN #REQUIRED>
<!ATTLIST File fileName CDATA #REQUIRED>
<!ELEMENT PaternLayout (#PCDATA)>
<!ELEMENT Loggers (Root)>
<!ELEMENT Root (AppenderRef+)>
<!ATTLIST Root level NMTOKEN #REQUIRED>
<!ELEMENT AppenderRef EMPTY>
<!ATTLIST AppenderRef ref NMTOKEN #REQUIRED>